<%= render "shared/header" %>
<div class="contents row">
  <% @spots.each do |spot| %>
      <p><%= spot.title %></p>
      <span class="title">
        <%= spot.title %>
      </span>
  <% end %>
</div>