<%= render "shared/header" %>
<div class="contents row">
  <% @spots.each do |spot| %>
      <p><%= spot.title %></p>
      <span class="title">
        <%# <%= spot.title %> %>
      </span>
  <% end %>

  <div class='purchase-btn'>
    <a href="/spots/new">
      投稿する
      <%# <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    </a>
  </div>
</div>