html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

/* ロゴを作りたい */
.title{
  margin-top: 35px;
  font-size: 25px;
}
/* ロゴを作りたい */

.main-nav{
  display:flex;
  font-size: 1.25rem;
  margin-top: 35px;
  list-style: none;
  text-transform: uppercase;
}

.main-nav li{
  margin-left: 35px;
}

/* ユーザー管理 */
.user-nickname{
  color:#432;
}

.logout{
  color:#432;
}

.login{
  color:#432;
}

.sign-up{
  color:#432;
}
/* ユーザー管理 */

.top-page-header{
  display: flex;
  justify-content: space-between;
}

.main-nav a:hover{
  color: #0bd;
}

/* 横幅、中央に配置 */
.wrapper{
  max-width: 1100px;
  margin: auto;
  /* padding: 4%; */
}

/* タブレット */
@media (max-width: 600px){
  .top-page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-nav li{
    margin: 0px 12px;
  }
}
/* タブレット */

/* スマホ */
/* 今回はタブレットと同じ */
/* スマホ */

