

.spot-main{
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spot-form{
  width: 100%;
  padding: 50px;
  background-color: #f8f8f8;
}



.spots-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.new-spots{
  margin-top: 60px;
}

.pulldown{
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}

.spots-price-box{
  display: flex;
  justify-content: space-between;
}

.spots-price{
  width: 220px;
}

/* .spot-category{
  margin-top: 60px;
} */

.spot-btn-contents{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.spot-btn{
  padding: 20px 60px;
}
