

.spot-main{
  /* width: 70vw; */
  /* min-width: 350px; */
  padding: 10vh 15vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.spot-form{
  /* width: 100%; */
  min-width: 350px;
  padding: 50px;
  background-color: #f8f8f8;
}



.spots-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.new-spots{
  margin-top: 60px;
}

.pulldown{
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}

.pulldown-spots{
  margin-bottom: 60px;
}

.spots-price-box{
  display: flex;
  justify-content: space-between;
}

.spots-price{
  width: 220px;
}

.select-box{
  margin-right: 48px;
  margin-left: 8px;
}


/* .spot-category{
  margin-top: 60px;
} */

.spot-btn-contents{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.spot-btn{
  padding: 20px 60px;
}



/* タブレット */
@media (max-width: 840px){
  .pulldown{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .select-box{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 8px;
    width: 150px;
  }
  .spots-price-box{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .new-spots{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .spot-form{
    padding: 0px;
    width: 120%;
  }
  .spots-text{
    width: 70%;
  }

}
/* タブレット */




/* スマホ */
@media (max-width: 420px){
  .pulldown{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .new-spots{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .spot-form{
    min-width: 350px;
  }
}
/* スマホ */