/* ヘッダーでmax:widthを指定しているためここでは必要ない。widthのみで真ん中にくる */
.spot-search {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 5vh 0;
}

.spot-search{
  text-align: center;
}

.spot-box-img{
  height: 50vh;
  width: 60vw;
  /* min-height: 500px; */
  object-fit: contain;
}

/* テーブル */
.detail-table{
  margin-top: 1%;
  margin-bottom: 12%;
}
/* テーブル */

.search-keyword{
  margin-bottom: 16px;
}

/* .category-select-search{
  width: 30vw;
} */

.sort_link{
  font-size: 20px;
  margin-bottom: 1%;
}


/* タブレット */
@media (max-width: 768px){
  .search-pulldown-search{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category-select-search{
    width: 100px;
  }
}
/* タブレット */

/* スマホ */
/* 今回はタブレットと同じ */
/* スマホ */



