.title-contents {
  width: 100vw;
  background-image: url('ルミナリエ.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: skyblue;
  /* text-shadow: 0 0 5px rgba(0, 0, 0, 0.9); */
}

