.spot-search {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 5vh 0;
}

.spot-box-img{
  height: 50vh;
  width: 60vw;
  object-fit: contain;
}

.spot{
  display: flex;
  flex-direction: column;
  align-items: center;
}
